<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/Chart.min.js"></script>
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <style>
        .container-fluid {
            height: 100%;
        }

        .row2-height {
            height: 80%;
        }

        .bgGradient {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body class=" bgGradient">
    <div class="container-fluid fixed-top">
        <div class="row shadow bg-white rounded">


            <div class="col-3 " style="padding-left: 10px;">
                <div class="row" style="height:10px;">

                </div>
                <a class="navbar-brand " href="#"><img src="~/Images/At_new_logo.png" alt="AT icon" width="100%" height="100%"></a>
            </div>

            <div class="col-6">
                <h1 class="text-primary text-center"></h1>
            </div>

            <div class="col-3" style="padding-right:0px;">
                <a href="#" class="navbar-brand float-right"><img src="~/Images/mahindra_rise.png" alt="AT icon" width="200" height="70"></a>
            </div>

        </div>
        @*<div class="row">

            @Html.Partial("~/Views/Shared/_NavBar.cshtml")
        </div>*@
        <div class="row" style="height:100%; background-color:">
            @RenderBody()
        </div>

    </div>
   
 <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
