<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .container-fluid {
        height:100%;
        }

        .row2-height {
        height:80%;
        }
    </style>
</head>
<body>
    <div class="container-fluid fixed-top">
        <div class="row shadow p-3 bg-white rounded" >


            <div class="col-3" style="padding-left: 0px;">
                <a class="navbar-brand" href="#"><img src="/AT_LOGO.ico" alt="AT icon" width="80" height="70"></a>
            </div>

            <div class="col-6">
                <h2 class="text-primary text-center">Vision System</h2>
            </div>

            <div class="col-3">
                <a href="#" class="navbar-brand float-right"><img src="/mahindra_rise.png" alt="AT icon" width="200" height="70"></a>
            </div>

        </div>

        <div class="row h-75 " style="height:100%; background-color:">
            @RenderBody()
        </div>

    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
