<div class="container-fluid" style="height:100%;width:100%; background-color:#">

    <canvas id="myChart" style="height:100%;width:100%"></canvas>

</div>

<script>
    let myChart = document.getElementById('myChart').getContext('2d');

    let massPopChart = new Chart(myChart,{
      type:'pie',
      data:{
        
        datasets:[{
          label:'Population',
          data:[
           @ViewBag.clip1,
           @ViewBag.clip2,
           @ViewBag.ring,
           @ViewBag.weight,
           @ViewBag.TotalSuccessfulCycles


          ],
         // backgroundColor:'green'
        backgroundColor:[
            '#ff8400', // old clip color ' #ff0066'
            '#ffc400',
            '#fff700',
            '#ccff00',//old ring color #00ccff

            '#02b84e'//green color

        ],
        borederWidth:0,
        borderColor:'#777',
        hoverBorderWidth:1,
        hoverBorderColor:'#000'
        }],
          labels: ['Clip 1', 'Clip 2', 'Ring', 'weight', 'Succsessfull Pistons'],

      },
      options:{
        title:{
          display:true,
          text:'Current shift Data Pie Chart',
          fontSize:25
        }
      }

    });
</script>
